.close{
    -fx-cursor:hand;
    -fx-background-color: transparent;
}
.close:hover{
    -fx-background-color: #9a9494;
}
.minimize{
    -fx-cursor:hand;
    -fx-background-color: transparent;
}
.minimize:hover{
    -fx-background-color: #ddd;
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #67c457, #5a93d5);
}
.nav-button{
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-text-fill: black;

}
.nav-buttonWrap:hover{
    -fx-cursor: hand;

}
.logout{
    -fx-background-color: #86b2ea;
    -fx-cursor: hand;
    -fx-background-radius: 10px;
}
.logout:hover{
    -fx-background-color: #abe09e;
}
.shadow{
    -fx-effect: dropshadow(three-pass-box,rgba(0,0,0,4), 5,0,0,0);
}
.white-bg{
    -fx-background-color: #ffffff;
    -fx-background-radius: 8px;
}
.card{
    -fx-background-color: linear-gradient(to bottom right, #236519, #2f64a2);
}
.search{
    -fx-padding: 0px 0px 0px 40px;
}
.import-btn{
    -fx-background-color: #eee;
    -fx-text-fill: red;

    -fx-cursor: hand;
}
.import-btn:hover{
    -fx-background-color: #eac7c7;
}
.text-field{
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: linear-gradient(to bottom right, #236519, #2f64a2)
}
.table-view1{
    -fx-background-color: transparent;
    -fx-padding: 0px;
    -fx-border-color: linear-gradient(to bottom right, #236519, #2f64a2);
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
}
.table-view1 .column-header-background{
    -fx-background-color: linear-gradient(to bottom right, #a8f89c, #6a9ad7);
    -fx-background-radius: 8px 8px 0px 0px;
}
.table-view1 .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.price{
    -fx-padding: 0px 0px 0px 23px;
}
.price2{
    -fx-padding: 0px 0px 0px 18px;
}





