.left-form{
    -fx-background-color: linear-gradient(to bottom right, #aeaeaa, #aeaeaa);

}

.close{
    -fx-cursor:hand;
    -fx-background-color: transparent;
}
.close:hover{
    -fx-background-color: #9a9494;
}
.eye{
    -fx-cursor:hand;
    -fx-background-color: transparent;
}
.login-button{
    -fx-background-color: linear-gradient(to bottom right, #bbb2b2, #d0d5d0);
}
.login-button:hover{
    -fx-background-color: #eadfdf;
}