.left-form{
    -fx-background-color: linear-gradient(to bottom right, #23591b, #f35c5c);

}

.close{
    -fx-cursor:hand;
    -fx-background-color: transparent;
}
.close:hover{
    -fx-background-color: #9a9494;
}
.eye{
    -fx-cursor:hand;
    -fx-background-color: transparent;
}
.login-button{
    -fx-background-color: linear-gradient(to bottom right, #8cea50, #97f397);
}
.login-button:hover{
    -fx-background-color: red;
}